* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}

html {
  font-size: 10px;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(33, 33, 33);
  margin-bottom: 5px;
}

p {
  width: 70%;
  text-align: center;
  font-size: 1rem;
  color: gray;
  margin: 0 auto;
}

.container {
  width: 350px;
  height: 350px;
  margin: 50px auto;
  background-image: url("/Features_Circle/imgs/servers.jpg");
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.9;
  position: relative;
}

.father {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


h2 {
  font-size: 2rem;
  color: white;
  margin: 0;
  align-self: flex-end;
}

.father p {
  font-size: 1rem;
  color: white;
  opacity: 1;
  line-height: 1.6;
  align-self: flex-start;
  margin-top: 15px;
}

.container>div:not(:first-child) {
  background-color: transparent;
  width: 250px;
  text-align: center;
  display: flex;
}

.one {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-65% , 10%);
  -webkit-transform: translate(-65% , 10%);
  -moz-transform: translate(-65% , 10%);
  -ms-transform: translate(-65% , 10%);
  -o-transform: translate(-65% , 10%);
}

.two {
  position:absolute;
  top: 0;
  right: 0;
  transform: translate(+65% , 10%);
  -webkit-transform: translate(+65% , 10%);
  -moz-transform: translate(+65% , 10%);
  -ms-transform: translate(+65% , 10%);
  -o-transform: translate(+65% , 10%);
}

.three {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-65% , -10%);
  -webkit-transform: translate(-65% , -10%);
  -moz-transform: translate(-65% , -10%);
  -ms-transform: translate(-65% , -10%);
  -o-transform: translate(-65% , -10%);
}

.four {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(+65% , -10%);
  -webkit-transform: translate(+65% , -10%);
  -moz-transform: translate(+65% , -10%);
  -ms-transform: translate(+65% , -10%);
  -o-transform: translate(+65% , -10%);
}

h3 {
  font-size: 1.2rem;
  text-align: center;
}

div p {
  color: gray;
  font-size: 0.9rem;
}

img {
  width: 7rem;
  height: 7rem;
  align-self: center;
  border: 1rem solid white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: white;
}