* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*::first-letter {
  text-transform: capitalize;
}

body {
  background-color: #51509b;
  padding: 50px 200px;
}

h1 {
  color: white;
  font-size: 40px;
}

.fa-user-plus {
  color: #e5af40;
}

p {
  color: white;
  font-size: 15px;
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.pro {
  width: 60%;
  background-color: white;
  padding:20px 50px 50px 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.basic {
  width: 40%;
  background-color: white;
  padding: 40px;
  opacity: 0.9;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
}

.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.fa-star,
.fa-check {
color: #e5af40;
font-size: 30px;
margin-right: 10px;
}

h2 {
  color: #404b5f;
  font-size: 30px;
  text-transform: capitalize;
  position: relative;
}

h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background-color: #e5af40;
  opacity: 0.2;
}

.benifits div {
  color: #404b5f;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
  padding:10px 0;
}

.chekout {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}

.price {
  font-size: 45px;
  font-weight: bold;
  color: #404b5f;
  position: relative;
}

.price::before {
  content: "$";
  font-size: 20px;
  position: absolute;
  margin-left: -10px;
  font-weight: lighter;
}

.price::after {
  content: "usd";
  font-size: 15px;
  text-transform: uppercase;
  font-weight: lighter;
}

button {
  width: 100px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
  background-color: #e5af40;
  border: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#note {
  margin-top: 40px;
  font-size: 15px;
  color: #404b5f;
}